@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text */
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

.manual_h1 {
    @apply text-9xl lg:text-8xl antialiased font-serif font-extrabold mb-6 text-gray-700 dark:text-stone-200;
}
.manual_p {
    @apply antialiased font-sans text-3xl font-medium leading-snug tracking-normal text-wrap text-stone-600 dark:text-neutral-300;
}