@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

/* Main body */
.manual_h1 {
  @apply mb-6 font-serif text-9xl font-extrabold text-gray-700 antialiased lg:text-8xl dark:text-stone-200;
}
.manual_p {
  @apply text-wrap font-sans text-3xl font-medium leading-snug tracking-normal text-stone-600 antialiased dark:text-neutral-300;
}

/* Navbar - Sidebar */
.sidebar {
  @apply fixed left-4 top-1/2 z-50 flex h-auto w-28 -translate-y-1/2 transform flex-col items-center rounded-3xl bg-white bg-opacity-20 pb-2 pt-2 backdrop-blur-lg dark:bg-black dark:bg-opacity-25;
}
.sidebar:hover {
  @apply w-[21rem] duration-300;
}
.sidebar_links {
  @apply h-max list-none overflow-y-hidden;
}
.sidebar_links::-webkit-scrollbar {
  display: none;
}
.sidebar_links li:hover {
  @apply w-[20rem] cursor-pointer rounded-lg bg-white bg-opacity-80 dark:bg-black dark:bg-opacity-25;
}
.sidebar_svg {
  @apply flex h-16 w-16 fill-gray-700 p-2 dark:fill-stone-200;
}
.sidebar_span {
  @apply pl-1 align-middle text-xl font-semibold text-gray-700 antialiased dark:text-stone-200;
}

/* Navbar Small -  Bottombar */
.bottombar {
  @apply fixed inset-x-0 bottom-0 z-50 mx-12 mb-12 flex h-32 w-auto flex-row items-center justify-center rounded-3xl bg-white bg-opacity-20 px-2 backdrop-blur-lg dark:bg-black dark:bg-opacity-25;
}
.bottombar_svg {
  @apply flex h-20 w-20 fill-gray-700 p-2 dark:fill-stone-200;
}
.bottombar_span {
  @apply pt-1 text-center align-middle text-2xl font-semibold text-gray-700 antialiased dark:text-stone-200;
}

/*Content specific classes*/
.list_icons {
  @apply mt-1 h-8 w-8 flex-shrink-0 text-stone-600 text-opacity-95 lg:h-5 lg:w-5 dark:text-neutral-300 dark:text-opacity-95;
}
.timeline_title {
  @apply mb-3 mt-2 inline-block text-6xl font-semibold text-gray-700 text-opacity-90 lg:mb-1 lg:mt-0 lg:text-4xl dark:text-stone-200 dark:text-opacity-90;
}
.timeline_time {
  @apply left-0 mt-0 inline-flex h-12 w-[21rem] translate-y-0.5 items-center justify-center rounded-2xl bg-white bg-opacity-50 text-3xl font-semibold uppercase text-stone-600 lg:absolute lg:h-10 lg:w-40 lg:text-sm dark:bg-black dark:bg-opacity-25 dark:text-neutral-300;
}
.timeline_desc {
  @apply text-4xl text-stone-600 lg:text-xl dark:text-neutral-300;
}
.timeline_skills {
  @apply mb-3 mr-3 max-w-fit rounded-md bg-white bg-opacity-50 pl-1 pr-1 text-center text-3xl font-semibold uppercase text-stone-600 lg:mb-1 lg:mr-1 lg:text-base dark:bg-black dark:bg-opacity-25 dark:text-neutral-300;
}
